/*
/*/*

__pycache__
*cache*
.venv
.coverage
.ruff_cache

!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!/src/
!/src/commit_hooks/
/src/commit_hooks/*
!/src/commit_hooks/*.py
!scripts
scripts/*
!/scripts/CHANGELOG.md.j2
!/scripts/recreate_changelog.sh

!LICENSE
!README.md
!CHANGELOG.md

!uv.lock
!pyproject.toml

dist/
