/*
/*/*

__pycache__
*cache*
.venv
.coverage
.ruff_cache

!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!/src/
!/src/commit_hooks/
/src/commit_hooks/*
!/src/commit_hooks/*.py
!/src/commit_hooks/templates
/src/commit_hooks/templates/*
!/src/commit_hooks/templates/CHANGELOG.md.j2
!/scripts/
/scripts/*
!/scripts/bump_version.sh

!LICENSE
!README.md
!CHANGELOG.md

!uv.lock
!pyproject.toml

dist/
